{% extends 'base.html.twig' %}

{% block title %} Informations légales {% endblock %}

{% block body %}
<div class="container">

<br><br><br><br>
<p>Le site www.royaumedesduellistes.fr  est géré par la société Royaume des Duellistes SARL, <br>
dont les informations légales figurent ci-dessous. </p>


<p><strong>ROYAUME DES DUELLISTES</strong>
172 Bd Voltaire, <br>
75011 PARIS

</p>

<br>
<p>

Téléphone : 01.22.33.44.55
</p>

<br>

<p>
Email : VPC@royaumedesduellistes.com
<br>
Gérant : Tsilavo Ranavalona
<br>
Directeur de la publication : Tsilavo Ranavalona
<br>
Hébergeur
<br>
PHPNET France - Nuxit
<br>
Groupe Magic Online
<br>
97 - 97 Bis rue Général Mangin
<br>
38100 Grenoble
<br>
commercial@nuxit.com
<br>
+33(0)4 86 57 60 00
</p>


<p>

L'ensemble de ce site relève des législations françaises et internationales sur le droit d'auteur et la propriété intellectuelle. <br>
Tous les droits de reproduction sont réservés, 
y compris pour les documents iconographiques et photographiques.
<br>
Tous les produits et visuels présentés sur le site de vente en ligne "www.royaumedesduellistes.fr" sont la propriété de leurs éditeurs respectifs.
</p>




</div>
{% endblock %}
