{% extends "base.html.twig" %}

{% block title %}
Livraisons et retours
{% endblock %}

{% block body %}
<div class="container">
<br><br>
<h2>Le transport de votre colis</h2>
<br>

<p>Les colis sont expédiés sous 48 heures après réception de votre paiement, les produits en précommandes sont expédiés le jour de leur parution.
Nous proposons différents modes d'expéditions (Lettre Suivie, Lettre Recommandée, Colissimo,...). 
Les frais d'expédition comprennent l'emballage, la manutention et les frais postaux. Le franco de port est fixé à 100,00 Euros pour la France Métropolitaine.
<br><br>
Pour les colis hors normes ou volumineux, le franco de port ne s'applique pas.
Une participation aux frais d'expédition de 15,00 Euros est demandée en ce cas.
<br>

</p>

<h2>Le retour de votre colis </h2>
<br>
Malgré le soin apporté par notre équipe de traitement des commandes et pour éviter tout litige, nous vous invitons à toujours vérifier votre colis en présence du livreur !
Si aucun problème n'est apparent mais que le colis n'est pas en parfait état, acceptez la livraison en émettant des réserves détaillées.
<br>
Si malgré toutes ces précautions, vous constatiez une anomalie une fois la livraison effectuée, contactez-nous sous 48 heures a compter de la livraison. Nous vous indiquerons les démarches a suivre.

Aucun retour ne sera accepté si les marchandises ne sont pas dans leur emballage d'origine.

</div>

{% endblock %}