{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="formcontainer">
<h1>Connexion</h1>

{{ form_start(formView) }}

{{ form_widget(formView) }}

{{ form_errors(formView) }}
<button type="submit" class="btn btn-success">connexion</button>

{{ form_end(formView) }}
</div>
{% endblock %}
