{% extends "base.html.twig" %}

{% block title %}
	Catégorie
	{{ slug }}
{% endblock %}

{% block body %}

	<ol class="breadcrumb" id="breadcrumbarre">
		<li class="breadcrumb-item">
			<a href="{{ path('homepage')}}">Accueil</a>
		</li>

		<li class="breadcrumb-item active">{{ category.name }}</li>
	</ol>

	<h1 class="text-center">
		Catégorie :
		{{ category.name }}</h1>
	<section class="containercategory">

		{% for p in category.products %}
			<div>

				{% include "product/_product_card.html.twig" %}

			</div>
		{% endfor %}
	</section>
{% endblock %}
