{% extends 'base.html.twig' %}

{% block title %}

L'Antre du Duel


{% endblock %}
{% block body %}
	
		<h2 class="text-center">Nos produits phares</h2>

		<div class="row">
			{% for product in products %}
				<div class="col">
					{% include "product/_product_card.html.twig" with {'p': product} %}
				</div>
			{% endfor %}
		</div>

		<hr>

		<h2 class="text-center">Un service irréprochable</h2>
		<p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, ea fugit assumenda sapiente soluta dolore!</p>
		<div class="row">
			{% include "shared/_livraison.html.twig" with {
        'color':'primary',
        'icone':'fas fa-truck',
        'text':"Nous assurons une livraisons dans toute la France sous 5 jours ouvrables maximum !"      
        }%}

			{% include "shared/_assurance.html.twig" with {
        'color':'success',
        'icone':'fas fa-check',
        'text':"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, ea fugit assumenda sapiente soluta dolore!"     
        }%}

			{% include "shared/_paiementsecurise.html.twig" with {
        'color':'warning',
        'icone':'fas fa-lock',
        'text':"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, ea fugit assumenda sapiente soluta dolore!"
        }%}
		</div>


	
{% endblock %}
