<div class="col">
	<div class="card bg-{{color}} text-white text-center">
		<div class="card-body">
			<i class="{{icone}} fa-2x mb-3"></i>
			<p class="card-{{text}}">Nous assurons une livraisons dans toute la France sous 5 jours ouvrables maximum.</p>
		</div>
	</div>
</div>
